.back-office-order-details {
    padding: 15px;
}

.back-office-order-details .back-to-order-list {
    display: none;
}

@media (max-width: 600px) {
    .back-office-order-details .reusable-control-btn {
        display: inline-flex;
    }
}

.back-office-order-details-header {
    display: flex;
    align-items: center;
}

.back-office-order-details-header h2 {
    margin-left: 15px;
}

.back-office-order-details-header-date {
    color: green;
}

.back-office-order-details-header .back-to-new-status-btn {
    margin-right: auto;
    border-radius: 3px;
    padding: 5px;
    background: aliceblue;
    color: brown;
}

.back-office-order-details-header .back-to-new-status-btn:hover {
    cursor: pointer;
    background: #dcf3ff;
}

.back-office-order-details-header .back-to-new-status-btn:active {
    background: #ccefff;
}

.back-office-order-details-client-details {
    margin-bottom: 50px;
}

.back-office-order-details-cart-details {
    margin-bottom: 50px;
}

.back-office-order-cart-item {
    padding-bottom: 15px;
}

.back-office-order-cart-item-details img {
    height: 100px;
    width: auto;
}

.back-office-order-cart-item-details {
    display: flex;
    align-items: end;
}

.back-office-order-cart-item-details p {
    margin: 0 15px;
}

.back-office-order-cart-item-details-quantity {
    border-left: 1px solid;
    padding: 0 15px;
    margin-left: 15px;
}

.back-office-order-details-total {
    margin-top: 50px;
    font-size: larger;
    font-weight: bold;
}

.horizontal-line {
    border-bottom: 1px solid #d1d1d1;
}
