header {
    position: fixed;
    top: 0;
    left: 0;
    flex: none;
    background-color: #f8f8f8;
    height: 50px;
    width: 100%;
    text-align: center;
    z-index: 99999;
    box-shadow: #8c6565a8 0 2px 5px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

header nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul.mobile-nav {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: row;
}

header ul.mobile-nav.he-language {
    flex-direction: row-reverse;
}

nav ul li {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 10px;
    position: relative;
}

nav ul li a.nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 3px 2px 3px;
    position: relative;
}

nav ul li a.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    right: 0;
    bottom: 13px;
    background: black;
    transition: width 0.4s ease, right 0.4s ease;
}

nav ul li a.nav-link:hover::after {
    width: 100%;
    right: 0;
}

.active-nav-link.nav-link::after {
    width: 100%;
    right: 0;
}

.cart-icon {
    position: relative;
    display: flex;
    align-items: center;
}

@media (max-width: 800px) {
    nav ul li {
        height: unset;
    }

    header span.language-selection {
        width: unset;
        position: fixed;
        top: 14px;
        left: 190px;
        padding: 0;
    }
}

.cart-icon svg {
    margin-right: 5px;
    font-size: 25px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
}

header nav ul li:hover {
    cursor: pointer;
}
