header {
    position: fixed;
    top: 0;
    left: 0;
    flex: none;
    background-color: #f8f8f8;
    height: 50px;
    width: 100%;
    padding: 1em;
    text-align: center;
    z-index: 99999;
    box-shadow: #8c6565a8 0 2px 5px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1em;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
}

header nav ul li:hover {
    cursor: pointer;
}
