header {
    flex: none;
    background-color: #f8f8f8;
    height: 50px;
    padding: 1em;
    text-align: center;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1em;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
}

header nav ul li:hover {
    cursor: pointer;
}
