footer {
    z-index: 9;
    background-color: #f8f8f8;
    padding: 1em;
    text-align: center;
}

footer p {
    margin: 0;
}

.credit-links {
    color: #4e4e4e;
}

.credit-links:hover {
    color: #4c7dfe;
}

footer .social-media-links {
    margin: 15px 0;
}
