footer {
    z-index: 9;
    background-color: #f8f8f8;
    padding: 50px 20px;
    text-align: center;
}

.credit-links {
    color: #4e4e4e;
}

.credit-links:hover {
    color: #4c7dfe;
}

footer .social-media-links {
    margin: 15px 0;
}

.tel-to-call {
    white-space: nowrap;
    color: #4c7dfe;
}

.tel-to-call:hover {
    color: #00d3d3;
}

.more-content-link {
    color: #6a6a6a;
}

footer .site-policy-link {
    display: block;
    margin-top: 10px;
}

.more-content-link:hover {
    color: #00d3d3;
}
