.back-office-page {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
}

.back-office-page ul {
    padding: 0;
}

.back-office-sidebar-wrapper {
    max-width: 350px;
    display: flex;
    flex: 2;
}

.back-office-sidebar {
    width: 100%;
    overflow: auto;
    background: white;
    border-left: 1px solid #ccc8c8;
    box-shadow: -1px 0 4px 0 #80808082;
}

.bo-sidebar-mobile {
    flex: none;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    transition: right 0.3s ease;
    overflow: hidden;
    z-index: 1000;
    padding-top: 30px;
    background: gray;
}

.bo-sidebar-mobile-open {
    right: 0;
    width: 100%;
}

.bo-sidebar-mobile .back-office-sidebar {
    width: 70%;
    height: 100%;
    padding-top: 20px;
}

.back-office-sidebar h3 {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 5px;
}

.orders-loading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-office-sidebar li {
    display: flex;
    align-items: center;
    padding: 5px 15px;
}

.back-office-sidebar li p {
    margin-top: 0;
    margin-bottom: 0;
}

.back-office-sidebar li:hover {
    background: #ededed;
    cursor: pointer;
}

.back-office-sidebar-current-order {
    background: #e1e1e1;
}

.back-office-sidebar-order-status {
    width: 30px;
    display: flex;
    justify-content: center;
    font-size: smaller;
}

.order-status {
    margin-right: 10px;
}

.violet {
    color: violet;
}

.orange {
    color: orange;
}

.gray {
    color: gray;
}

.yellow {
    color: yellow;
}

.back-office-sidebar-client-name {
    margin-right: 15px;
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.back-office-sidebar-date {
    font-size: smaller;
    margin-right: 5px;
    padding-top: 3px;
    color: cadetblue;
}

.back-office-order-details-wrapper {
    flex: 4;
    overflow: auto;
}

.back-office-order-details-wrapper [aria-label="three-dots-loading"] {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3333331a;
}

.back-office-date {
    margin-right: 10px;
    font-size: smaller;
    color: #b78849;
}

.back-office-page-message {
    text-align: center;
    color: red;
    margin-top: 50%;
}
