.back-office-coupon-page {
    min-height: 95vh;
    padding: 30px;
}

.back-office-coupon-page .add-new-coupon-btn-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-office-coupon-page p {
    margin: 0;
}

.back-office-coupon-page input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #bdbcb4;
    outline: none;
    padding: 4px 0;
}

.back-office-coupon-page input:focus {
    outline: none;
}

.add-new-coupon-btn-wrapper {
    display: flex;
}

.coupon-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #b3b3b3;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 17px;
    transition: transform 0.1s ease;
}

.coupon-btn.delete-btn {
    background: #a86262;
}

.new-coupon-btn {
    height: 40px;
    width: 40px;
    font-size: 30px;
}

.coupon-btn:hover {
    background: #cacaca;
}

.coupon-btn:active {
    transform: scale(0.95);
}

.add-new-coupon-btn-wrapper p {
    margin: auto 15px;
}

.coupon-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid #bdbcb4;
    padding: 10px;
}

.coupon-list-item {
    border: 1px solid #bdbcb4;
}

.coupon-list-item .coupon-list-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}

.coupon-list-item-btn-section {
    display: flex;
    gap: 5px;
}

.delete-coupon-popup-wrapper {
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #b3b3b3a3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-coupon-popup {
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px gray;
}

.delete-coupon-popup .coupon-btn {
    margin: 0 5px;
}

.back-office-coupon-page .no-coupons-to-display {
    color: green;
    margin: auto;
}

.red {
    color: red;
}

.green {
    color: green;
}

.back-office-coupon-page .loader {
    margin: auto;
}

@media (max-width: 710px) {
    .coupon-list-item {
        width: 100%;
        display: flex;
        align-items: flex-start;
    }

    .coupon-list-item-wrapper label {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .coupon-list-item-wrapper {
        flex-direction: column;
    }

    .coupon-list-item .coupon-list-item-wrapper.translated {
        align-items: flex-start;
    }

    p.coupon-list-item-title {
        display: inline;
        margin-left: 15px;
    }

    p.coupon-list-item-title.translated {
        margin: 0 10px 0 0;
    }

    .coupon-list-item-btn-section {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 370px) {
    .coupon-list-item-wrapper label {
        flex-direction: column;
        margin-bottom: 15px;
    }
}
