* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

#root {
    height: 100%;
    overflow: auto;
}

body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: Arial, sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app main {
    min-height: 95vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
}
