* {
    text-decoration: none;
    color: black;
}

.logo {
    width: 30px;
    height: auto;
    border-radius: 50%;
}

button:hover {
    cursor: pointer;
}

ul {
    list-style: none;
}

.reusable-control-btn {
    height: 35px;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #ffc700;
    font-size: 17px;
    border: none;
    border-radius: 20px;
    margin-left: 7px;
    margin-top: 7px;
    padding: 0 15px;
}

.reusable-control-btn svg {
    margin-left: 5px;
}

.reusable-control-btn:hover {
    background: #ffd640;
}

.reusable-control-btn:active {
    background: #ffde6f;
}
