.book-details-container {
    padding: 20px;
}

.book-detail {
    display: flex;
    align-items: start;
    padding: 20px 0;
}

.book-details-btn-section {
    display: flex;
    flex-wrap: wrap;
}

.book-details-columns {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.book-details-columns p {
    display: inline;
    margin: 0;
}

.book-details-columns.right {
    padding: 0 20px;
}

.author-illustrator-section {
    width: 100%;
    padding: 20px 0;
}

.book-details-columns.left {
    align-items: end;
    background: aliceblue;
    padding: 15px;
}

.book-detail .coverImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.book-details-description {
    white-space: pre-line;
    text-align: justify;
}

@media (max-width: 750px) {
    .book-detail {
        flex-direction: column;
    }

    .book-details-container h2 {
        text-align: center;
    }

    .book-details-columns p {
        padding: 0;
    }

    .book-details-columns.right {
        padding: 15px 0 0;
    }

    .book-details-columns.left,
    .book-details-columns.right {
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .book-detail {
        align-items: center;
    }

    .book-details-columns.left {
        padding: 10px;
    }
}