.book {
    height: 100%;
    min-height: 430px;
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border: 1px solid #ddd;
    padding: 1em;
    text-align: center;
    border-radius: 7px;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.book:active {
    box-shadow: none;
}

.book img {
    max-width: 100%;
    height: auto;
}

.book h3 {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.book p {
    margin: 0;
}

.cover-type-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
}

.book .cover-type {
    margin: 0 5px;
}

.book input[type="radio"], .cover-type:hover {
    cursor: pointer;
}

.book-add-remove-from-cart-controllers {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.book-add-remove-from-cart-controllers svg {
    position: absolute;
    left: -25px;
    padding: 1px;
    font-size: 22px;
}

.book-add-remove-from-cart-controllers svg:hover {
    padding: 0;
}

.add-to-cart-text:hover {
    color: #00d3d3;
}

.add-to-cart-text:active {
    color: #3bffff;
}
